Java/JavaEE/WebServices/Snippets/Lab7GANESHCreditCardApp/WebRoot/WEB-INF/wsdl/MyCreditCardService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.creditcard.ganesh.com/" targetNamespace="http://service.creditcard.ganesh.com/" version="1.0">

  <xs:element name="deductAmount" type="tns:deductAmount"/>

  <xs:element name="deductAmountResponse" type="tns:deductAmountResponse"/>

  <xs:complexType name="deductAmount">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deductAmountResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
