XML/Snippets/SDJN/Lab4/src/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<sd:schema xmlns:sd="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.jlcindia.com/books"
	    xmlns:book="http://www.jlcindia.com/books" 
	    elementFormDefault="qualified">
<sd:element name="book">
	<sd:complexType>
		<sd:sequence>
			<sd:element name="bid" type="sd:int" minOccurs="1" maxOccurs="1"/>
			<sd:element name="bname" type="sd:string" minOccurs="1" maxOccurs="1"/>
			<sd:element name="cost" type="sd:double" minOccurs="1" maxOccurs="1"/>
		</sd:sequence>
	</sd:complexType>
</sd:element>
</sd:schema>