Java/5-Frameworks/WebServices/Snippets/Lab13/WebContent/WEB-INF/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://hello.axis2.ganesh.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloService"
	targetNamespace="http://hello.axis2.ganesh.com">
	<wsdl:types>
		<xsd:schema targetNamespace="http://hello.axis2.ganesh.com">
			<xsd:element name="User">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
						<xsd:element name="email" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="msg" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getMessageRequest">
		<wsdl:part element="tns:User" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getMessageResponse">
		<wsdl:part element="tns:UserMessage" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="HelloService">
		<wsdl:operation name="getMessage">
			<wsdl:input message="tns:getMessageRequest" />
			<wsdl:output message="tns:getMessageResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloServiceSOAP" type="tns:HelloService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getMessage">
			<soap:operation soapAction="http://hello.axis2.ganesh.com/getMessage" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloService">
		<wsdl:port binding="tns:HelloServiceSOAP" name="HelloServiceSOAP">
			<soap:address location="http://localhost:5555/Lab13/services/HelloService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
