Java/JavaEE/WebServices/Snippets/Lab7GANESHBankApp/WebRoot/WEB-INF/wsdl/MyAccountService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.bankapp.ganesh.com/" targetNamespace="http://service.bankapp.ganesh.com/" version="1.0">

  <xs:element name="deposit" type="tns:deposit"/>

  <xs:element name="depositResponse" type="tns:depositResponse"/>

  <xs:complexType name="deposit">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="depositResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
