Java/5-Frameworks/WebServices/Snippets/Lab13/WebContent/WEB-INF/services/HelloService/META-INF/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloService" targetNamespace="http://hello.axis2.ganesh.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://hello.axis2.ganesh.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://hello.axis2.ganesh.com">
			<xsd:element name="User">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string"/>
						<xsd:element name="email" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="msg" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getMessageRequest">
    <wsdl:part name="parameters" element="tns:User">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessageResponse">
    <wsdl:part name="parameters" element="tns:UserMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloService">
    <wsdl:operation name="getMessage">
      <wsdl:input message="tns:getMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:getMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloServiceSOAP" type="tns:HelloService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMessage">
      <soap:operation soapAction="http://hello.axis2.ganesh.com/getMessage"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port name="HelloServiceSOAP" binding="tns:HelloServiceSOAP">
      <soap:address location="http://localhost:5555/Lab13/services/HelloService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
