XML/Snippets/SDJN/Lab1.1/src/jlc.dtd

<!ELEMENT jlc (student*,course+)>
<!ELEMENT student (sname,email+)>
<!ELEMENT course (cname,cost,faculty)>
<!ELEMENT sname (#PCDATA)>
<!ELEMENT email (oemail,pemail)>
<!ELEMENT oemail (#PCDATA)>
<!ELEMENT pemail (#PCDATA)>
<!ELEMENT cname (#PCDATA)>
<!ELEMENT cost (#PCDATA)>
<!ELEMENT faculty (#PCDATA)>

<!ATTLIST student
sid CDATA #REQUIRED
job CDATA #IMPLIED>

<!ATTLIST course
cid CDATA #REQUIRED
free(yes/no) "no">

<!ENTITY f1 "Ganesh Babu">
<!ENTITY company "Ganesh Learning Center">