Java/JavaEE/WebServices/Snippets/Lab2/WebRoot/WEB-INF/wsdl/AccountServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://account.jaxws.ganesh.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountServiceService" targetNamespace="http://account.jaxws.ganesh.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://account.jaxws.ganesh.com/" schemaLocation="AccountServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getBal">
    <part element="tns:getBal" name="parameters"/>
  </message>
  <message name="getBalResponse">
    <part element="tns:getBalResponse" name="parameters"/>
  </message>
  <message name="deposit">
    <part element="tns:deposit" name="parameters"/>
  </message>
  <message name="depositResponse">
    <part element="tns:depositResponse" name="parameters"/>
  </message>
  <message name="withdrawa">
    <part element="tns:withdrawa" name="parameters"/>
  </message>
  <message name="withdrawaResponse">
    <part element="tns:withdrawaResponse" name="parameters"/>
  </message>
  <portType name="AccountServiceDelegate">
    <operation name="getBal">
      <input message="tns:getBal"/>
      <output message="tns:getBalResponse"/>
    </operation>
    <operation name="deposit">
      <input message="tns:deposit"/>
      <output message="tns:depositResponse"/>
    </operation>
    <operation name="withdrawa">
      <input message="tns:withdrawa"/>
      <output message="tns:withdrawaResponse"/>
    </operation>
  </portType>
  <binding name="AccountServicePortBinding" type="tns:AccountServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getBal">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deposit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="withdrawa">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AccountServiceService">
    <port binding="tns:AccountServicePortBinding" name="AccountServicePort">
      <soap:address location="http://localhost:8080/Lab2/AccountServicePort"/>
    </port>
  </service>
</definitions>
